    <form nz-form [formGroup]="divisionForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Nonbre</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validando...">
          <input nz-input formControlName="nombre" placeholder="Ingrese nombre de division" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Colaboradores</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="colaboradores" placeholder="colaboradores" type="number" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Nivel</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Ingrese el nivel!">
          <input nz-input type="number" formControlName="nivel" />
        </nz-form-control>
      </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Embajador</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Ingrese el nombre del embajador">
          <input nz-input type="text" formControlName="embajador" />
        </nz-form-control>
    </nz-form-item>

    <form [formGroup]="searchForm">

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Buscar Divisiones</nz-form-label>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Ingrese un nombre para buscar divisiones" formControlName="search" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button (click)="buscar(searchForm.get('search')?.value)" nz-button nzType="primary" nzSearch><nz-icon nzType="search"/></button>
            </ng-template>
    </nz-form-item>

    </form>



    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Padre</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Seleccione un padre de requerirse">
                <nz-select
                    nzAllowClear
                    nzPlaceHolder="Please select"
                    formControlName="parentId"
                    >
                    @for (item of listaDivisiones; track item) {
                        <nz-option [nzLabel]="item.nombre" [nzValue]="item.id"></nz-option>
                    }
                    </nz-select>
        </nz-form-control>
    </nz-form-item>


      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!divisionForm.valid" (click)="submitForm()">Submit</button>
          <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
      </nz-form-item>
    </form>